  

.item {
  border: 1px solid #000000;
  border-radius: 7px;
  width: 42px;
  height: 42px;
  /* line-height: 42px; */
  background-color: #FFFFFF;
  text-align: center;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items: center;
  padding: 3.5px;
}
.title {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}
.child {
  border: 1px solid #000000;
  border-radius: 3px;
  width: 11px;
  height: 11px;
  line-height: 5.5px;
  background-color: #FFFFFF;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.title__child {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7px;
}